{% extends "layouts/adminLayout.html.twig" %}

{% block title %} Categories {% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            {% include 'partials/admin/sidebar.html.twig' %}

            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <span>Categories</span>
                        <a href="/admin/categories/create" class="btn btn-success btn-sm add-btn" title="Add New Category">
                            <i class="fa fa-plus" aria-hidden="true"></i> Add New
                        </a>
                    </div>
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Posts</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in categories %}
                                    <tr>
                                        <td>{{ item.getName() }}</td>
                                        <td>{{ item.getPosts()|length }}</td>
                                        <td>
                                            <a href="{{ '/admin/categories/' ~ item.getId() ~ '/edit' }}"
                                               title="Edit Client">
                                                <button class="btn btn-primary btn-sm">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    Edit
                                                </button>
                                            </a>

                                            <form style="display: inline;" action="{{ '/admin/categories/' ~ item.getId() ~ '/delete' }}" method="POST">
                                                <input name="_method" type="hidden" value="DELETE">
                                                <button type="submit" class="btn btn-danger btn-sm"
                                                        title="Delete Client"
                                                        onclick="return confirm('Confirm delete?')">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
