<div class="form-group">
    <label for="name">Insert name of category</label>
    <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" value="{{ name }}">
</div>

<button type="submit" class="btn btn-primary">Submit</button>