<div class="col-md-3">
    <div class="card">
        <div class="card-header">Sidebar</div>

        <div class="card-block">
            <ul class="nav" role="tablist">
                <li role="presentation">
                    <a href="/admin/categories">
                        Категории
                    </a>
                    <a href="/admin/posts">
                        Статьи
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
