{% extends "layouts/layout.html.twig" %}

{% block title %} Category page {% endblock %}

{% block content %}
    <div class="category">
        {% include 'partials/public/posts.html.twig' %}
    </div>




{% endblock %}
