{% extends "layouts/layout.html.twig" %}

{% block title %} Search page {% endblock %}

{% block content %}
    <div class="searchData">
        {% include 'partials/public/posts.html.twig' %}
    </div>

{% endblock %}
